.ask {
  justify-content: center;
  background-color: #fff;
  display: flex;
  margin-top: 150px;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  padding: 32px;
}



.ask-content {
  border-radius: 40px;
  background-color: #e8eee7;
  padding: 80px 74px 0 0;
}


.ask-content-2 {
  gap: 20px;
  display: flex;
}


.ask-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}



.ask-span {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: end;
  line-height: 110%;
}


.ask-span {
  color: #9e9d9d;
  leading-trim: both;
  text-edge: cap;
  letter-spacing: -0.64px;
  font: 400 32px Covered By Your Grace, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.ask-span-2 {
  color: #1c1c1c;
  letter-spacing: -0.6px;
  margin-top: 20px;
  font: 600 60px Manrope, sans-serif;
}


.img {
  aspect-ratio: 1.05;
  object-fit: auto;
  object-position: center;
  width: 100%;
  fill: linear-gradient(180deg, #fff 0.05%, rgba(255, 255, 255, 0) 88.86%);
  align-self: stretch;
  margin-top: 83px;
}



.ask-column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

.content-1 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: auto 0;
}

.content-2 {
  justify-content: space-between;
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #1c1c1c;
  font-weight: 600;
  line-height: 140%;
}

.span-column {
  font-family: Manrope, sans-serif;
}

.img-2 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  margin: auto 0;
}

.container-questions {
  border-color: rgba(215, 215, 215, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #d7d7d7;
  margin-top: 23px;
  height: 1px;
}

.q-1 {
  justify-content: space-between;
  display: flex;
  margin-top: 36px;
  gap: 20px;
  font-size: 20px;
  color: #1c1c1c;
  font-weight: 600;
  line-height: 28px;
}

.span-ques {
  font-family: Manrope, sans-serif;
}

.img-3 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  margin: auto 0;
}


.space-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  padding: 11px 5px;
}

.div-dark {
  background-color: rgba(0, 0, 0, 1);
  height: 2px;
}

.small-text {
  color: var(--Gray-600, #617275);
  margin-top: 24px;
  font: 400 15px/24px Manrope, sans-serif;
}


.img-5 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  margin: auto 0;
}

@media (max-width: 768px) {
  .ask-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  .ask-column {
    display: flex;
    align-items: flex-start;

    margin-bottom: 10px;
  }

  .img {
    display: none;

  }

  .ask-span {
    font-size: 20px;

  }

  .ask-span-2 {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .ask-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  .ask-column {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .img {
    display: none;

  }



  .ask-span-2 {
    font-size: 30px;
  }
}



@media (max-width: 320px) {
  .ask-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  .ask-column {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .img {
    display: none;

  }



  .ask-span-2 {
    font-size: 30px;
  }
}