/* website */
.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
}


.section {
  color: #2da950;
  
  letter-spacing: -0.72px;
  font: 400 36px/110% Covered By Your Grace, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.section-span {
  color: #1c1c1c;
  text-align: center;
  letter-spacing: -1.12px;
  margin-top: 16px;
  width: 588px;
  font: 600 56px/67px Manrope, sans-serif;
}


.container {
  margin-top: 112px;
  width: 100%;
  max-width: 1192px;
}


.section-container {
  gap: 20px;
  display: flex;
}



.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 67%;
  margin-left: 0px;
}



.website-image {
  aspect-ratio: 1.22;
  object-fit: auto;
  object-position: center;
  width: 100%;
  /* flex-grow: 1; */
}



.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}


.container-2 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: auto 0;
}


.span-text {
  color: #1c1c1c;
  letter-spacing: -0.8px;
  font: 600 40px/48px Manrope, sans-serif;
}

.dot-8 {
  align-self: start;
  display: flex;
  margin-top: 54px;
  gap: 12px;
}



.dot-1 {
  background-color: #2da950;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}

.dot-2 {
  background-color: #e4e3e3;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}

.dot-3 {
  background-color: #e4e3e3;
  border-radius: 50%;
  width: 10px;
  height: 11px;
}

.explore-tab {
  justify-content: center;
  border-radius: 100px;
  background: linear-gradient(0deg, #1c1c1c 0%, #1c1c1c 100%),
    linear-gradient(98deg, #1c1c1c 2.63%, #454444 105.2%);
  display: flex;
  margin-top: 130px;
  gap: 16px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  padding: 31px 40px;
}



.explore-span {
  font-family: Manrope, sans-serif;
}

.img-2 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  align-self: start;
}


@media (max-width: 768px) {
  .main {
    margin-top: 20px;
  }

  .section-span {
    font-size: 32px;
   
    width: 100%;
  }

  .container {
    margin-top: 40px;
  }

  .column,
  .column-2 {
    width: 100%;
    margin-left: 0;
  }

  .dot-8 {
    margin-top: 30px;
  }

  .explore-tab {
    margin-top: 100px;
    
  }
}